@import "tailwindcss";


@theme inline {

  --color-primary: #0169FF;
  --color-secondary: #1E1E1E;
  --color-accent: #EFF6FF;
  --color-text-light: #FCFCFC;
  --color-text-dark: #5A5A5A;
  --background-image-background: linear-gradient(180deg, #0068FF 0.93%, #0068FF 0.98%, #227CFF 52.4%, #3286FF 59.77%, #FFFFFF 100%);
  --background-image-background2: linear-gradient(180deg, #0068FF 0.93%, #0068FF 0.98%, #227CFF 61.59%, #3286FF 72.18%, #4692FF 76.37%, #FFFFFF 100%);
  --background-image-button: linear-gradient(180deg, #474747 0%, #131313 100%);
  --background-image-neon: linear-gradient(180deg, #FF6701 0%, #FF9D00 25%, #FF7600 50%, #FF3C00 100%);


  --font-sans: var(--font-plus-jakarta-sans);

  /* Mobile Small (320px) */
  --breakpoint-msm: 20rem;
  /* Mobile Medium (375px) */
  --breakpoint-mmd: 23.4375rem;
  /* Mobile Large (425px) */
  --breakpoint-mlg: 26.5625rem;
  /* Laptop large (1440px) */
  --breakpoint-2xl: 90rem;

}

@layer base {
  body {
    @apply font-sans bg-white antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply leading-tight;
  }

  p {
    @apply f-base leading-normal;
  }

  button {
    cursor: pointer;
  }

  input:focus,
  textarea:focus {
    outline: none;
    box-shadow: none;
  }
}

@layer utilities {}

@utility max-container {
  max-width: 1440px;
  margin-inline: auto;
  /* padding-inline: 1.5rem; */
}

@utility f-h1 {
  font-size: clamp(1.759rem, 1.119rem + 3.201vw, 4rem);
  /* font-size: clamp(1.956rem, 1.372rem + 2.92vw, 4rem); */
}

@utility f-h2 {
  font-size: clamp(1.525rem, 1.068rem + 2.286vw, 3.125rem);
  /* font-size: clamp(1.494rem, 1.028rem + 2.33vw, 3.125rem); */
}

@utility f-h3 {
  font-size: clamp(1.331rem, 1.068rem + 1.313vw, 2.25rem);
  /* font-size: clamp(1.25rem, 0.964rem + 1.429vw, 2.25rem); */
}

@utility f-h4 {
  font-size: clamp(1.157rem, 1.113rem + 0.222vw, 1.313rem);
}

@utility f-h5 {
  font-size: clamp(1.006rem, 0.865rem + 0.705vw, 1.5rem);
}

@utility f-base {
  font-size: clamp(0.875rem, 0.839rem + 0.179vw, 1rem);
}

@utility f-sm {
  font-size: clamp(0.744rem, 0.713rem + 0.152vw, 0.85rem);
}

@utility f-xs {
  font-size: clamp(0.632rem, 0.606rem + 0.129vw, 0.723rem);
}

@utility unbound {
  font-size: clamp(1.494rem, 0.135rem + 6.795vw, 6.25rem)
}


/* Padding Utilities */
@utility fpt {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}

@utility fpb {
  padding-bottom: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}

@utility fpy {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}

@utility fpr {
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}

@utility fpl {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}

@utility fpx {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}

@utility fp {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}

@utility grid-lines {
  background-image: linear-gradient(to right, #D9D9D9 1px, transparent 1px),
    linear-gradient(to bottom, #D9D9D9 1px, transparent 1px);
  background-size: 50px 50px;

  /* Create a circle mask that follows the variables */
  mask-image: radial-gradient(circle 250px at var(--x, 0%) var(--y, 0%),
      black 0%,
      transparent 100%);

  /* Hide by default, show on JS hover */
  opacity: var(--opacity, 0);
  transition: opacity 0.3s ease;
}

@media screen and (max-width: 768px) {
  .grid-lines {
    background-size: 30px 30px;

    /* Create a circle mask that follows the variables */
    mask-image: radial-gradient(circle 125px at var(--x, 0%) var(--y, 0%),
        black 0%,
        transparent 100%);

    /* Hide by default, show on JS hover */
    opacity: var(--opacity, 0);
    transition: opacity 0.3s ease;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .grid-lines {
    background-size: 40px 40px;

    /* Create a circle mask that follows the variables */
    mask-image: radial-gradient(circle 200px at var(--x, 0%) var(--y, 0%),
        black 0%,
        transparent 100%);

    /* Hide by default, show on JS hover */
    opacity: var(--opacity, 0);
    transition: opacity 0.3s ease;
  }
}